<div class="join">
    <div class="text-center mb-4">
        <h3>Who will be the winner?</h3>                
    </div>
    <form [formGroup]="notificationForm" (ngSubmit) = "onNotificationSubmit()" class="mt-4 mb-4">
        <div class="offer-row mb-4">          
            <div class="col-md-5 border-box text-center">
                <div class="nft">
                    <h4 class="mb-4">{{creator_name}}</h4>
                    <p>ETH value: {{creator_eth}}</p>
                    <p class="mb-0">${{creator_usd}}</p>
                </div>   
            </div>
            <div class="col-md-2 vs">
                VS
            </div>
            <div class="col-md-5 border-box text-center">
                <div class="nft">
                    <h4 class="mb-4">{{opponent_name}}</h4>
                    <p>ETH value: {{opponent_eth}}</p>
                    <p class="mb-0">${{opponent_usd}}</p>
                </div>   
            </div>
        </div>
        <div class="border-box mb-5 text-center">
            <h4 class="mb-4">{{term}}</h4>
            <p>Machester : Liverpool</p>
            <p class="mb-0">{{date}}</p>
        </div> 
        <div class="border-box mb-4">
            <h4 class="text-center">Descrption for this offer</h4>
            <p class="border-box mb-1">{{desc}}</p>
        </div> 
    </form> 
</div>

 