<div class="container form-center min-vh">
    <div class="form-signin col-lg-6">
      <div class="h4 text-center">
        Welcome back
      </div>
      <form [formGroup]="userForm" (ngSubmit) = "onSubmit()" class="mt-4 mb-4">
        <div class="form-group">
          <div *ngIf="is_confirm_alert" class="p-2 text-danger">
            Someting is wrong. Please click the link of the password reset email again.
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password"  formControlName="password" class="form-control" placeholder="Password" >
          <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="p-2 text-danger">
            <div *ngIf="userForm.controls['password']!.errors!.required">
              Password is required.
            </div>
          </div>
        </div>
        <div class="form-group mb-5">
            <label>Repeat Password</label>
            <input type="password"  formControlName="repeatPassword" class="form-control" placeholder="Repeat Password" >
            <div *ngIf="repeatPassword!.invalid  && (repeatPassword!.dirty || repeatPassword!.touched) || repeatPassword.hasError('passwordMatch')" class="p-2 text-danger">
              <div *ngIf="repeatPassword!.errors!.required">
                Repeat Password is required.
              </div>
              <div *ngIf="repeatPassword.hasError('passwordMatch')">
                Password mismatch.
              </div>
            </div>
        </div> 
        <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Confirm</button>
        </div>
      </form>
      
    </div>
  </div>
    
  