<div class="join">
    <div class="text-center mb-4">
        <h3>Accept offer</h3>                
    </div>
    <form [formGroup]="notificationForm" (ngSubmit) = "onNotificationSubmit()" class="mt-4 mb-4">
        <div class="offer-row mb-4">          
            <div class="col-md-5 border-box text-center">
                <div class="nft">
                    <h5 class="mb-4">John adams</h5>
                    <p>ETH value: 10</p>
                    <p class="mb-0">$27000</p>
                </div>   
            </div>
            <div class="col-md-2 vs">
                VS
            </div>
            <div class="col-md-5 border-box text-center">
                <div class="nft">
                    <h5 class="mb-4">Abraham Lincon</h5>
                    <p>ETH value: 5</p>
                    <p class="mb-0">$12000</p>
                </div>   
            </div>
        </div>
        <div class="border-box mb-4 text-center">
                <h5 class="mb-4">English Premier league</h5>
                <p>Machester : Liverpool</p>
                <p class="mb-0">12-5-2021</p>
        </div>                  
        <div class="mb-4 btn-between">
            <button type="submit" class="btn btn-primary no-border-box btn-large" >Agree</button>
            <button type="submit" class="btn btn-red no-border-box btn-large" >Decline</button>
        </div>
    </form> 
</div>

 