<div class="container form-center min-vh">
    <div class="form-signin col-lg-6">
      <div class="h4 text-center">
        Welcome back
      </div>
      <form [formGroup]="userForm" (ngSubmit) = "onSubmit()" class="mt-4 mb-4">
        <div *ngIf="is_default">
            <div *ngIf="is_show_alert" class="form-group">
                <div  class="p-2 text-danger">
                    Email information is wrong, Please input correctly!
                </div>
            </div> 
            <div class="form-group mb-5">
                <label>Email</label>
                <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email" required>
                <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="p-2 text-danger">
                    <div *ngIf="email!.errors!.required">
                    Email is required.
                    </div>
                    <div *ngIf="email!.errors!.email">
                    Enter a valid email
                    </div>
                </div>
            </div>           
            <div class="text-center m-b-15 m-t-15">
                <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Send Email</button>
            </div>
        </div>
        <div *ngIf="is_confirm_alert" class="form-group">
            <div  class="p-2 text-danger">
                A password reset email has been sent to the email address on file for your account, but may take several minutes to show up in your inbox. Please wait at least 10 minutes before attempting another reset.
            </div>
        </div>          
      </form>
    </div>
  </div>
    
  
